@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Rooms Page";

}
@model IEnumerable<Room>;

<section class="section5">
    <div class="row justify-content-between">
        <div class="col-md-5">
            <h1 class="header1 m-5">Welcome to <span class="span1">Travellaire Hotel</span> in Egypt</h1>
            <p class="p3 m-5">Book your stay and enjoy Travellaire redefined at the most affordable rates.</p>
        </div>
        @if (ViewData["session"].ToString() == "ash")
        {
            <div class="col-md-4">
                <a asp-controller="Room" asp-action="create" type="button" class="btn">Add Room</a>
            </div>
        }
    </div>
</section>
<section class="allSection">
    <h2 class="ms-5 my-5">All</h2>
    <div class="row justify-content-around">
        @foreach (var item in Model)
        {
            @if (item.roomName == "The Royal Room")
            {
                <div class="col-md-4 mb-5">
                    <div class="card" style="width: 25rem;">
                        <img src="~/Img/@item.room_Pic" alt="room_pic_Image_Here" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@item.roomName</h5>
                            <p class="card-text">@item.roomType</p>
                            <p class="card-text">₦@item.priceParNight</p>
                            <a asp-controller="Room" asp-action="Details" asp-route-id="@item.ID" class="btn float-end">Book now</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

</section>
<section class="allSection">
    <h2 class="ms-5 my-5">Most order</h2>
    <div class="row justify-content-center">

        <div class="col-md-10 mb-5">
            <div class="card" style="width:100%;">
                <img src="~/img/Rectangle 1138-2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">SUITE</h5>
                    <p class="card-text">₦190,000</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="allSection">
    <h2 class="ms-5 my-5">Suite</h2>
    <div class="row justify-content-around">
        @foreach (var item in Model)
        {
            @if (item.roomName == "SUITE")
            {
                <div class="col-md-5 mb-5">
                    <div class="card" style="width:100%;">
                        <img src="~/Img/@item.room_Pic" alt="room_pic_Image_Here" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@item.roomName;</h5>
                            <p class="card-text">₦@item.priceParNight;</p>
                            <a asp-controller="Room" asp-action="Details" asp-route-id="@item.ID" class="btn float-end">Book now</a>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</section>
