@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Hotel.Models.RegisterModel;
@{
    ViewData["Title"] = "Profile Page";
}
<section style="background-color: #eee;">
    <div class="container py-5">
      
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.userName</h5>
                        <form asp-action="Edit" enctype="multipart/form-data">
                            <div class="mb-3">
                                <input class="form-control form-control-sm" id="formFileSm" type="file" asp-for="userPic">
                                <input type="submit" class="form-control" value="Add"  />
                            </div>
                       </form>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            @{
                                foreach (var item in Model.Contacts)
                                {

                                    @if (item.type == "Compliment")
                                    {
                                        <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                            <p class="mb-0 me-2 text-primary">Compliment:</p>
                                            <p>@item.message </p>
                                        </li>
                                    }
                                    else if (item.type == "Opinion")
                                    {
                                        <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                            <p class="mb-0 me-2 text-primary">Opinion</p>
                                            <p>@item.message</p>
                                        </li>
                                    }
                                    else if (item.type == "Enquiries")
                                    {
                                        <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                            <p class="mb-0 me-2 text-primary">Enquiries</p>
                                            <p>@item.message </p>
                                        </li>
                                    }
                                    else if (item.type == "Compaints")
                                    {
                                        <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                            <p class="mb-0 me-2 text-primary">Compaints</p>
                                            <p>@item.message </p>
                                        </li>
                                    }
                                    else if (item.type == "Requests")
                                    {
                                        <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                            <p class="mb-0 me-2 text-primary">Requests</p>
                                            <p>@item.message </p>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.userName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.userEmail</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.userMobile</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.address</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4">
                                    <span class="text-primary font-italic me-1">upcoming</span> Bookings
                                </p>
                                
                                <ul class="list-group list-group-flush rounded-3">
                                    @{
                                        foreach (var item in Model.Bookings)
                                        {

                                            <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                                <p class="mb-0 me-2 text-primary">@item.roomId</p>
                                                <p>from:@item.checkIn</p>
                                                <p>To:@item.checkOut </p>

                                            </li>
                                        }
                                    }
                                    </ul>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>